<h1>Λίστα Σχολίων</h1>

<table>
  <tr>
    <th>Άρθρο</th>
    <th>Χρήστης</th>
    <th>Περιεχόμενο</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.article_id %></td>
    <td><%= comment.user_id %></td>
    <td><%= comment.body %></td>
    <td><%= link_to 'Ανάγνωση', comment %></td>
    <td><%= link_to 'Επεξεργασία', edit_comment_path(comment) %></td>
    <td><%= link_to 'Διαγραφή', comment, :confirm => 'Είσαι βέβαιος?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Νέο Σχόλιο', new_comment_path %>
