<p id="notice"><%= notice %></p>
<p font-size="25px">
  <font color="green" size="5px"><i><%= @article.title %></i></font>
</p>
<div>
 <%= image_tag @article.picture.url(:medium), :align => "left", :style => "padding-right:10px"%>
 <p><font color="#524B4D" size="3"><%= @article.body %></font></p>
</div>

<p>
  <b>Δημιουργήθηκε από:</b>
  <%= @article.user.nickname %>
</p>

<p>
  <b>Κατηγορία:</b>
  <%= link_to @article.category.name, category_articles_path(@article.category) %>
</p>

<%= link_to 'Επεξεργασία', edit_article_path(@article) if can? :update, @article %> 
<%= link_to 'Διαγραφή', @article, :confirm => 'Είσαι βέβαιος?', :method => :delete if can? :destroy, @article %> 
<%= link_to 'Πίσω', articles_path %>

<p><font color="green" size="3">Νέο Σχόλιο</font></p>
<%= render "comments/form" %>

<p><font color="green" size="3">Σχόλια</font></p>
<%= render "comments/list", :collection => @article.comments %>



