<p id="notice"><%= notice %></p>

<p>
  <b>Χρήστης:</b>
  <%= link_to @article.user.nickname, user_path(@article.user) %>
</p>

<p>
  <b>Τίτλος:</b>
  <%= @article.title %>
</p>

<p>
  <b>Περιεχομένο:</b>
  <%= image_tag @article.picture.url(:thumb) %> 
  <%= @article.body %>
</p>

<p>
  <b>Κατηγορία:</b>
  <%= link_to @article.category.name, category_articles_path(@article.category) %>
</p>


<%= link_to 'Edit', edit_article_path(@article) if can? :update, @article %> |
<%= link_to 'Destroy', @article, :confirm => 'Are you sure?', :method => :delete if can? :destroy, @article %> |
<%= link_to 'Back', articles_path %>

<h1>Σχόλια</h1>
<%= render "comments/list", :collection => @article.comments %>
<h1>Πρόσθεσε Σχόλιο</h1>
<%= render "comments/form" %>
