<p id="notice"><%= notice %></p>

<p>
  <b>Nickname:</b>
  <%= @user.nickname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Τα άρθρα μου:</b>
  <%= render "articles/list", :collection => @user.articles %>
</p>

<%= link_to 'Επεξεργασία', edit_user_registration_path(@user) %> |
<%= link_to 'Πίσω', users_path %>
