<!DOCTYPE html>
<html>
<head>
  <title>Mynews</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <div id="menu">
      <ul>
        <li class="current_page_item"><%= link_to "Home", root_path %> </li>
        <li><%= link_to "Articles", articles_path %> </li>
        <% if user_signed_in? %>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <li><%= link_to "Log out", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
        <li><%= link_to "Categories", categories_path %></li>       

      </ul>
    </div>
    <!-- end #menu -->
   <!-- <div id="search">
      <form method="get" action="">
        <fieldset>
          <input type="text" name="s" id="search-text" size="15" />
          <input type="submit" id="search-submit" value="Search" />
        </fieldset>
      </form>
    </div> -->
    <!-- end #search -->
  </div>
  <!-- end #header -->
  
  <div id="logo">
    
  </div>
 
  <!-- end #logo -->
  <!-- end #header-wrapper -->

  <div id="page">
    <div id="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>

    </div>
    <!-- end #content -->
    <div id="sidebar">
      
      <ul>
       <% unless user_signed_in? %>
          <li>
            <h2>Σύνδεση</h2>
            <%= render "users/sessions/new" %>
          </li>
        <% end %>
        <li id="calendar">
          <h2>Κατηγορίες</h2>
          <%= render "categories/list", :collection => Category.all %>
        </li>
        <li>
          <h2>Τελευταία Άρθρα</h2>
          <%= render "articles/list", :collection => Article.all %>
        </li>
      </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
  </div>
  <!-- end #page -->

  <div id="footer">
    <p>Copyright (c) 2011 mynews.gr</p>
  </div>
  <!-- end #footer -->
</body>
</html>
