<h2>Επεξεργασία <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :nickname %><br />
  <%= f.text_field :nickname %></p>

  <p><%= f.label :password %> <i>(να μην συμπληρωθεί αν δεν θες να το αλλάξεις)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password %> <i>(χρειάζεται ο κωδικός σου για να επιβεβαιωθούν οι αλλαγές)</i><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Ενημέρωση" %></p>
<% end %>

<h3>Διαγραφή λογαριασμού</h3>

<p>Μη ευχαριστημένος? <%= link_to "Διαγραφή Λογαριασμού", registration_path(resource_name), :confirm => "Είσαι βέβαιος?", :method => :delete %>.</p>

<%= link_to "Πίσω", :back %>
